@import '../../styles/app.scss';

.root {
  // styles here
}

.Table {
  th,
  td {
    border-color: $white;
  }

  thead {
    border-bottom: 1px solid $gray-200;
  }
}

.Card {
 th,
 td {
   border-color: $white;
 }

 thead {
   border-bottom: 1px solid $gray-200;
 }

 button {
   margin-left: 90%;
 }

 margin-left: 25%;
 margin-right: 25%;
}