@import '../../../styles/app';
 @import "~@fortawesome/fontawesome-free/scss/solid";
 
 .root {
   // styles here
   
 }

 .TestCaseCardsGroup {

  display: flex;
  flex-direction: column;

  .TestCaseRow {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

  .TestCaseCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    float: none;
    margin-bottom: 0px;
  }

  .TestCaseButtonGroup {
    display: flex;
    background-color: $widget-bg;
    border-color: $gray-400;
    border-style: solid;
    border-width: 1px;
    border-top-style: none;
    margin-left: 0px;
  }

}