

@import '../../styles/app.scss';

.root {
  // styles here
}

.DashboardWidget {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.DashboardTable {

  th,
  td {
    border-bottom: 2px solid $gray-200;
    text-align: center;

  }

  thead {
    border-bottom: 3px solid $gray-400;
  }
}

.Badge {
  margin-top: 5px;
  justify-content: center;
}

.ViewAll {
  margin-top:10px;
  display:flex;
  flex-direction:row;
  float:right;
 }