
 @import 'styles/app.scss';

 .root {
  // styles here
}

 .UpdateButton {
  margin-right: 10px;
  margin-left: 10px;
  background-color: $brand-button;
  color: var(--text-color);
  }

  .RemoveButton {
    margin-right: 10px;
    margin-left: 10px;
    background-color: $brand-button;
    color: var(--text-color);
  }

  .ButtonGroupEditBot {
    display: flex !important;
    justify-content: flex-end !important;
    margin-top: 10px !important;
  }

  .ErrorMessage{
    color: red;
    margin-top: 10px;
  } 
 