@import 'styles/app';

.root {
  width: $sidebar-width-open;
  background-color: $sidebar-bg-color;
  color:  var(--text-color);
}

.button {
  background-color: $brand-info;
  color: var(--text-color);
}

.container {
  display: inline-flex !important;
  margin-left: auto !important;
  float: right;
  flex-grow: 0;
  flex-direction: row;
}