

 @import '../../styles/app.scss';

 .root {
   // styles here
   margin-bottom:0px;
   border-style:solid;
   border-color: $gray-400;
   border-width:1px;
 }
 
 .InteractiveTable{
  th,
  td {
    border-bottom: 2px solid $gray-200;
    text-align: center;
    align-items: left;

  }

  // add space between header and table cells
  

  thead {
    border-bottom: 3px solid $gray-400;
  }

}

.Widget {
  margin-bottom:0px
}