

 @import 'styles/app.scss';

 .root {
   // styles here
   margin-bottom:0px;
   border-style:solid;
   border-color: var(--gray-400);
   border-width:1px;
 }

.ListdWidget {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.ListdWidget__content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

 
 .InteractiveTable{
  th,
  td {
    border-bottom: 2px solid var(--gray-200);
    text-align: center;
    align-items: left;

  }

  // add space between header and table cells
  

  thead {
    border-bottom: 3px solid var(--gray-400);
  }

}

.Widget {
  margin-bottom:0px
}