 @import 'styles/app.scss';

 .root {
   // styles here
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: 0;
 }
 
 .fuzzersTable {
   th,
   td {
     border-color: $white;
   }
 
   thead {
     border-bottom: 1px solid var(--gray-200);
   }
 }
 