

@import '../../../styles/app';
@import "~@fortawesome/fontawesome-free/scss/solid";

.root {
  // styles here

}


.TestCaseDetailsButton {
  justify-content: center !important;
  display: inline-flex !important;
  margin-left: auto !important;
  background-color: $blue;
  float: right;
  flex-grow: 0;

  // letters in white
  color: $white;

  // centert text
  align-items: center;

  &:hover {
    background-color: $green;
    color: $white;
  }
}