

 @import 'styles/app';

 .root {
   // styles here
 }
 
 .FuzzersTable {
   th,
   td {
     border-color: $white;
   }
 
   thead {
     border-bottom: 1px solid $gray-200;
   }
 }

 .FuzzerCard {
  th,
  td {
    border-color: $white;
  }

  thead {
    border-bottom: 1px solid $gray-200;
  }

  button {
    margin-left: 90%;
  }

  margin-left: 25%;
  margin-right: 25%;
}
 